@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri.eot');
    src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri.woff') format('woff'),
         url('../fonts/calibri.ttf') format('truetype'),
         url('../fonts/calibri.svg#calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}


* {
    margin:0;
    padding:0;
    font-family:'Calibri';
    font-size:16px;
    --title-color: #ec032c;
    --title-color-fade: #f18599;

    color:#515151;

    text-align: justify ;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition:opacity 1s;
}

#sticky{
    position:sticky;
    top:0;
}

#extra_space{
    height:200px;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#title{
    font-weight: bold;
    color:var(--title-color);
    font-size: 18px;
    letter-spacing: 3px;
    text-align: left;
}

#title2{
    font-weight: bold;
    letter-spacing: 3px;
    text-align: left;
}


/*Header part*/
header {
    display:flex;
}

    header #image{
        width:37%;
        display:flex;
    }

    header img{
        width:100%;
        object-fit: cover;
    }

    h1 {
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4447;
        height: 60px;
        color: #fff;
        font-weight: bold;
        width: 100%;
        font-size: 1.4em;
        letter-spacing: 4px;
        text-align: center;
        position: sticky;
        margin-top:-60px;
        overflow:hidden;
    }

/*Information*/
#info{
    display:flex;
    width:60%;
    justify-content: center;
    align-items: center;
    padding-bottom:40px;
}

    #info #title{
        padding:5px 0;
    }

    #info #detail{
        padding-left:20px;
        padding-bottom:3px;
    }

    @media only screen and (min-width: 800px) {
        #info #title{
            padding:10px 0;
        }
    
        #info #detail{
            padding-bottom:10px;
        }
    }

/*Other content*/
#body{
    width:100%;
    display:flex;
    align-items: stretch;
}

    #body #left_side{
        background-color:#515151;
        width:37%;
    }

    #body #right_side{
        width:63%;
    }

    
    #body #title{
        padding-left:5%;
        padding-top:70px;
        padding-bottom:20px;
    }
    
    #body #right_side #title{
        padding-left:5%;
        padding-top:70px;
    }
    
    #body #title2{
        padding-left:5%;
        padding-top:20px;
        padding-bottom:20px;
    }
    
    #body #detail{
        padding:7px 10%;
        word-wrap: break-word;
    }
    
    #body #left_side #detail{
        color:#fff;
    }

/*Status bar*/
#status_box{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}
#status_bar{
    width:15%;
    padding:5%;
}

    #status_bar h4
    {
        margin-bottom:5px;
    }

    #status_bar div{
        width:100%;
        height:16px;
        background-color: var(--title-color-fade);
    }

    #status_bar div div{
        width:40%;
        height:100%;
        background-color: var(--title-color);
    }