@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri.eot');
    src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri.woff') format('woff'),
         url('../fonts/calibri.ttf') format('truetype'),
         url('../fonts/calibri.svg#calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Yekan';
	src:	url('../fonts/Yekan.woff') format('woff'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}


* {
    margin:0;
    padding:0;
    font-family:'Calibri';
    font-size:16px;
    --title-color: #4d79ba;
    --title-color-fade: #b3c6da;

    color:#515151;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition:opacity 1s;
    /* word-break: break-all; */
    word-break: break-word;
}
p{
    text-align: justify;
}
@media only screen and (max-width: 800px) {
    *{
        font-size:12px;
    }
}
@media only screen and (min-width: 1200px) {
    *{
        font-size:24px;
    }
}

#sticky{
    position:sticky;
    top:0;
}


#extra_space{
    height:200px;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#title{
    font-weight: bold;
    color:var(--title-color);
    font-size: 18px;
    letter-spacing: 3px;
    text-align: left;
}
@media only screen and (min-width: 1200px) {
    #title{
        font-size:28px;
    }
}

#title2{
    font-weight: bold;
    letter-spacing: 3px;
    text-align: left;
    padding-left:5%;
}

#my_sign{
    position:absolute;
    top:10px;
    left:10px;
    width:3%;
    max-width:30px;
}

#social_icon{
    filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(186deg) brightness(114%) contrast(101%);
    /* filter: invert(78%) sepia(10%) saturate(21%) hue-rotate(1deg) brightness(86%) contrast(87%); */
    width: 20px;
    /* padding-left:20px; */
    padding-left:10%;
    margin-top:7px;
}

@media only screen and (max-width: 800px) {
    #social_icon{
        width: 12px;
        padding-left:12px;
    }
}


/*Header part*/
header {
    display:flex;
    align-items: stretch;
}

    header #image{
        width:30%;
        display:flex;
        min-width: 150px;
        min-height: 300px;
    }

    header img{
        width:100%;
        object-fit: cover;
    }

    h1 {
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4447;
        height: 60px;
        color: #fff;
        font-weight: bold;
        width: 100%;
        font-size: 1.4em;
        letter-spacing: 4px;
        text-align: center;
        position: sticky;
        margin-top:-60px;
        overflow:hidden;
        z-index:100;
    }

/*Information*/
#info{
    display:flex;
    width:60%;
    padding:25px 5% 80px 5%;
    flex-direction: column;
    justify-content: space-around
}


    #info #detail, #info #detail_fa{
        padding:0 !important;
        max-width:800px;
    }

    @media only screen and (min-width: 800px) {
        #info #title{
            padding:10px 0;
        }
    
        #info #detail{
            padding-bottom:10px;
        }
    }

/*Other content*/
#body{
    width:100%;
    display:flex;
    align-items: stretch;
    /* It made sticky slide menue deactivate */
    /* overflow-x:hidden; */
}

.experience_text, .experience_text_light{
    /* width: 80px; */
    display:inline-block;
    white-space: nowrap;
    padding: 0 !important;
    text-align: left !important;
    /* letter-spacing: 4px !important; */
}

.experience_text_light{
    color:#bbb;
    /* font-size: 12px !important; */
}

    #body #left_side{
        background-color:#515151;
        width:30%;
        min-width: 150px;
    }

    #body #right_side{
        width:70%;
    }

    
    #body #title{
        padding-left:5%;
        padding-top:70px;
        padding-bottom:20px;
    }
    
    #body #right_side #title{
        padding-left:5%;
        padding-top:70px;
    }
    
    #body #title2{
        padding-left:5%;
        padding-top:20px;
        padding-bottom:10px;
    }
    
    #body #detail, #detail_fa{
        padding:7px 10%;
        word-wrap: break-word;
    }

    #detail_fa{
        direction:rtl;
        letter-spacing: 0;
        font-family: 'Yekan';
        padding:5% 12%;
    }

    @media only screen and (min-width: 1200px) {
        #detail_fa{
            font-size:16px;
        }
        #web_page_fa{
            font-size:20px;
        }
    }
    
    #body #left_side #detail{
        color:#fff;
    }




    #web_page , #web_page_fa, #social_web_page{
        color:#aaa;
        font-style: italic;
    }
    #social_web_page
    {
        color:#fff;
    }

    #web_page_fa{
        font-family: 'Yekan';
    }

    #bio_part{
        display:flex;
        padding:5%;
    }

    #bio_part p{
        padding:2% !important;
        text-align: inherit ;
    }

    @media only screen and (max-width: 800px) {
        #bio_part{
            flex-direction: column;
        }
        #bio_part p{
            text-align: justify;
        }
    }

/*Status bar*/
#status_box{
    width:85%;
    padding-left:10%;
    padding-right:5%;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
#status_bar{
    width:20%;
    padding: 10px 5% 25px 0%;
}

@media only screen and (max-width: 800px) {
    #status_bar{
        width:45%;
    }
}

.p100{width:100%}
.p95{width:95%}
.p90{width:90%}
.p85{width:85%}
.p80{width:80%}
.p75{width:75%}
.p70{width:70%}
.p65{width:65%}
.p60{width:60%}
.p55{width:55%}
.p50{width:50%}
.p45{width:45%}
.p40{width:40%}
.p35{width:35%}
.p30{width:30%}
.p25{width:25%}
.p20{width:20%}
.p15{width:15%}
.p10{width:10%}
.p05{width:05%}
.p00{width:00%}

    #status_bar h4
    {
        margin-bottom:5px;
    }

    #status_bar div{
        /* width:100%; */
        height:20px;
        border-radius: 4px;
        background-color: var(--title-color-fade);
    }

    #status_bar div div{
        /* width:40%; */
        height:100%;
        border-radius: 4px;
        background-color: var(--title-color);
    }

    #image_3, #image_3_2, #image_2{
        width:30%;
        filter: grayscale(0%);
        transition:all 0.4s;
    }

    #image_2{
        width:45%;
    }
    #image_3_2{
        width:60%;
    }
    
    #image_2 img, #image_3 img, #image_3_2 img{
        width:100%;
    }

    #image_2:hover, #image_3:hover, #image_3_2:hover{
        filter: grayscale(100%);
    }